/.venv
/.vscode
/data
/indexes
/proc_data
/train
/output
/cross_validation.log
/index 
/__pycache__
/lort
/evaluation/__pycache__
/indexing/__pycache__
/pyserini
/evaluation.log
/latex
/.IPYNB
/tests
/.profiling