numpy
pandas
torch
faiss-cpu
matplotlib
seaborn
scikit-learn
tensorflow
statsmodels
jupyter
jupyterlab
notebook
ipywidgets
ipykernel
nbconvert
nbformat
python-terrier
pyserini
typer
sklearn
pytrec_eval
scienceplots
tqdm
ast
json